<div class="page-header">
  <h1><%=@poll.name %> - Results</h1>
</div>
<h3><%= @poll.question %></h3>
<table class="table table-hover">
	<tr>
		<th># of Votes</th>
		<th>Answer</th>
	</tr>
	<% @poll.items.each do |i| %>
		<tr>
			<td><%= i.votes.count %></td>
			<td><%= i.content %></td>
		</tr>
	<% end %>
</table>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              polls_path, :class => 'btn'  %>
  <%= link_to 'Delete Poll',
              poll_path(@poll),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
